.footer{
    background-color: lightness-shift($main-color, map-get($darkness-amount,background3));
    color: #ffffff;
    padding: 25px 20px;
    &__nav{
        padding: 0;
        &__link{
            margin-bottom: 10px;
        }
    }
}