.functioning{
    &__container{
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        margin: auto;
        padding-left: 20px;
    }
    
    h3{
        font-size: 16px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 23px;
        counter-reset: numero;
        padding-left: 12px;
        padding-right: 24px;
        margin: 25px 0;
        @media screen and (min-width: 930px){
            flex-direction: row;
            justify-content: center;
            gap: 40px;
        }
    }

    &__btn{
        position: relative;
        display: flex;
        flex: 1;
        min-width: 265px;
        background-color: lighten($color: $black-color, $amount: 96%);
        box-shadow: 0px 4px 8px lighten($color: $black-color, $amount: 80%);
        padding: 27px 0 27px 35px;
        border-radius: 25px;
    }

    .fas{
        padding: 0 25px 0 0;
        font-size: 20px;
        color: lighten($color: $black-color, $amount: 50%);
    }
}

li::before{
    position: absolute;
    left: -12px;
    counter-increment: numero;
    content: counter(numero);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: #ffffff;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}