.header{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 13px 0;
    background-color: $main-color;
    &__back{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    }
}