.header--menu{
    font-family: 'shrikhand', cursive;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 30px 20px;
    h2{
        font-size: 28px;
        font-weight: 500;
    }
}

.menu{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: -50px;
    border-radius: 50px 50px 0 0;
    background-color: lighten($color: $black-color, $amount: 96%);

    &__container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 12px;
        @media screen and (min-width: 992px){
            flex-direction: row;
            gap: 40px;
        }
    }

    &__title{
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            padding-left: 8px;
            &::after{
                content: "";
                width: 40px;
                height: 3px;
                background-color: $tertiary-color;
                margin-top: 4px;
            }
    }

    &__list{
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 13px;
    }

    &__item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 0px 4px 8px lighten($color: $black-color, $amount: 80%);
        height: 65px;
        border-radius: 15px;
        padding: 10px 20px 10px 10px;
        font-size: 15px;
        h4{
            font-size: 18px;
            font-weight: 600;
        }
    }

    &__info{
        display: flex;
        justify-content: space-between;
        p{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 10px;
        }
        
    }

    &__order{
        display: flex;
        justify-content: center;
        padding: 40px 0 80px 0;
    }

    &__category{
        flex: 1;
        min-width: 296px;
    }
}