.btn{
    color: #ffffff;
    background: linear-gradient($secondary-color, $primary-color);
    @include cards-shadow;
    border: none;
    border-radius: 24px;
    padding: 15px 20px;
    cursor: pointer;
    &--order{
        padding: 15px 50px;
    }
}