.restaurants__card{
    display: flex;
    flex: 1;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $main-color;
    @include cards-shadow;
    min-width: 280px;
    height: 250px;
    border-radius: 20px;
    @include media (tablet){
        min-width: 344px;
    }
    @include media (desktop){
        min-width: 456px;
    }
    &__img{
        height: 70%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }    
    &__badge{
        display: none;
        &--new{
            display: flex;
            position: absolute;
            top: 13px;
            right: 13px;
            font-size: 14px;
            font-weight: 600;
            padding: 6px 10px;
            border-radius: 2px;
            color: darken($color: $tertiary-color, $amount: 35%);
            background-color: $tertiary-color;
        }
    }
    &__body{
        display: flex;
        justify-content: space-between;
        flex: 1;
        padding: 15px 10px;
        &__description{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}