.fa-map-marker-alt{
    padding-right: 17px;
    padding-top: 5px;
}

.functioning .fas{
    font-size: 20px;
    padding-right: 25px;
    color: scale-color($font-color, $lightness: +50%);
}

.fa-heart{
    font-size: $like-size;
}

.fa-utensils{
    font-size: 14px;
    padding-right: 10px;
}

.fa-hands-helping{
    font-size: 12px;
    padding-right: 6px;
}

.fa-arrow-left{
    font-size: 20px;
}