*{
    box-sizing: border-box;    
}
h1, h2, h3, h4, p{
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    padding: 0;
}
input{
    border: none;
    background-color: lightness-shift($main-color, map-get($darkness-amount,background2));
    width: 196px;  //harmonize width on all devices
    font-size: 16px;
    font-weight: 600;
    color: $font-color;
    outline: none;    //suppress outline to have the same color outline in all browsers
    cursor: pointer;
    padding: 5px;
    &::placeholder{
        color: $font-color;
        opacity: 1; // Firefox
    }
    &:focus{
        outline: 2px solid $font-color; //define outline for all browsers
    }
}
.container{
    max-width: 1400px;
    margin: auto;
}