.location{
    display: flex;
    justify-content: center;
    background-color: lightness-shift($main-color, map-get($darkness-amount,background2));
    box-shadow: inset 0 5px 15px -5px lightness-shift($main-color, map-get($darkness-amount,boxshadow2));
    padding: 10px 0 10px 55px;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include background-color;
    padding: 40px 0 55px 0;
    h2{
        text-align: center;
        padding: 0 43px;
        margin-bottom: 13px;
    }
    p{
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 33px;
    }
}
#city{
    border: none;
    background-color: lightness-shift($main-color, map-get($darkness-amount,background2));
    width: 196px;  //harmonize width on all devices
    font-size: 16px;
    font-weight: 600;
    color: $font-color;
    outline: none;    //suppress outline to have the same color outline in all browsers
    cursor: pointer;
    padding: 5px;
    &::placeholder{
        color: $font-color;
        opacity: 1; // Firefox
    }
    &:focus{
        outline: 2px solid $font-color; //define outline for all browsers
    }
}