.menu{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -50px;
    border-radius: 50px 50px 0 0;
    @include background-color;
    &__header{        
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 30px 20px;
    }
    &__container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 12px;
        @include media (desktop){
            flex-direction: row;
            gap: 40px;
        }
    }
    &__category{                            // 3 columns (Entrées, Plats, Desserts)
        flex: 1;
        min-width: 296px;
    }
    &__title{                               // Entrées, Plats, Desserts
            display: flex;
            flex-direction: column;
            &::after{                       // green line on the bottom
                content: "";
                width: 40px;
                height: 3px;
                background-color: $tertiary-color;
                margin-top: 4px;
            }
    }
    &__list{                                // list of dishes
        display: flex;
        flex-direction: column;
        gap: 13px;
    }
    &__item{                                // a dish
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $main-color;
        @include cards-shadow;
        height: 65px;
        border-radius: 15px;
        padding: 10px 20px 10px 10px;
    }
    &__info{                                // description and price of the dish
        display: flex;
        justify-content: space-between;
        p{
            overflow: hidden;               // overflow hidden with ...
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 10px;
        }        
    }
    &__order{                               // button commander position
        display: flex;
        justify-content: center;
        padding: 40px 0 80px 0;
    }
}