picture{
    display: flex;
    min-height: 260px;
    max-height: 400px;
    img{
        flex: 1;
        height: 260px;
        width: 100%;
        object-fit: cover;
        @include media (tablet){
            height: 400px;
        }
    }
}