@mixin cards-shadow ($amount:boxshadow1) {
    box-shadow: 0px 4px 8px lightness-shift($main-color, map-get($darkness-amount,$amount));
}

@mixin background-color {
    background-color: lightness-shift($main-color, map-get($darkness-amount,background1));
}

@mixin media ($screen) {
    @if $screen==tablet {
        @media screen and (min-width: map-get($breakpoints, tablet)) {
            @content;
        }
    }
    @if $screen==desktop {
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            @content;
        }
    }    
}

@mixin gradient-color ($direction:0deg, $color1:$secondary-color, $color2:$primary-color) {
    background: linear-gradient($direction, $color1, $color2);
}