$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$font-color: #000000;
$main-color: #ffffff;

$breakpoints: (tablet: 768px, desktop: 992px);
$darkness-amount: (background1: 4%, background2: 8%, boxshadow1: 20%, boxshadow2: 30%, background3: 79.3%);